* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.icoP {
  width: 30px;
  height: 30px;
}

.icoM {
  width: 40px;
  height: 40px;
}

.check--hide {
  display: none;
}

.menu--hide {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgba(128, 59, 163, 0.467);
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.flex-eve {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav {
  transform: translateX(100px);
  width: 400px;
}
.nav ul li a {
  text-decoration: none;
  color: white;
}

.brand {
  transform: translateX(-100px);
  width: 170px;
  justify-self: end;
}

.nav ul li a:hover {
  color: #b93f3f;
}

.brand ul li img:hover {
  background-color: #b93f3f;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .menu--hide {
    display: block;
    margin-left: 50px;
  }
  .nav {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-2000px);
    background-color: black;
    width: 100vh;
    height: 100vh;
    transition: 0.5s;
  }
  .nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4em;
  }
  .brand {
    display: none;
  }
  .close {
    position: absolute;
    top: 50px;
    transform: translateX(-300px);
  }
  #check:checked ~ .nav {
    transform: translateX(-100px);
  }
}
@media (max-width: 736px) and (orientation: landscape) {
  header {
    height: 60px;
  }
  .nav {
    width: 125%;
  }
  .nav ul {
    gap: 2em;
  }
  .nav .close {
    transform: translateX(-280px);
    top: 30px;
  }
}
@media (max-width: 475px) {
  .nav {
    width: 150%;
  }
  .nav ul {
    gap: 3em;
  }
  .nav .close {
    transform: translateX(-160px);
    top: 10px;
  }
}
main {
  width: 100%;
  height: 100vh;
}

section {
  height: 75vh;
}

.fondo {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-image: url(../images/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.604);
  gap: 2em 0;
}
.title h1 {
  font-size: 50px;
  letter-spacing: 10px;
}
.title h2 {
  font-style: italic;
  font-size: 28px;
  letter-spacing: 5px;
}
.title a {
  text-decoration: none;
  color: white;
  padding: 10px 50px;
  background-color: #b93f3f;
  border-radius: 5%;
}
.title a:hover {
  background-color: #5ec339;
  transition: 0.2s;
}

.page {
  width: 100%;
  height: 85vh;
}
.page img {
  width: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
}
.page .article {
  width: 100%;
  height: 85vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}
.page .article h2 {
  font-size: 32px;
}
.page .article i {
  font-size: 20px;
  padding: 30px 0;
}
.page .article a {
  text-decoration: none;
  color: white;
  padding: 20px 20%;
  background-color: #b93f3f;
  border-radius: 5%;
  margin: 40px auto;
  font-size: 15px;
  font-weight: bold;
}
.page .article p {
  width: 70%;
  line-height: 30px;
  font-size: 22px;
  text-align: center;
}
.page .article a:hover {
  background-color: #5ec339;
  transition: 0.2s;
}

.fondo1 {
  width: 100%;
  height: 80vh;
  margin: auto;
  background-image: url(../images/helado3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  position: relative;
  -o-object-fit: fill;
     object-fit: fill;
}

.fondo2 {
  width: 100%;
  height: 80vh;
  margin: auto;
  background-image: url(../images/helado5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
}

footer {
  text-align: center;
  margin: auto;
  height: 30vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
footer .footer input {
  width: 80%;
  padding: 10px 10px;
  padding-left: 15px;
  margin: 15px 0;
}
footer .footer button {
  width: 80%;
  padding: 10px 0;
  cursor: pointer;
  background: #b93f3f;
  color: white;
}
footer .footer button:hover {
  background-color: #5ec339;
}
footer .footBrand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}
footer .footBrand ul {
  gap: 2em;
}

@media (max-width: 768px) {
  .fondo {
    font-size: 15px;
  }
  .page {
    height: 70vh;
  }
  .page img {
    height: 70vh;
  }
  .page .article {
    height: 70vh;
    margin: auto;
  }
  .page .article h2,
.page .article i,
.page .article p,
.page .article a {
    font-size: 22px;
  }
  .page .article p {
    font-size: 18px;
  }
  .page .article a {
    font-size: 18px;
  }
  footer {
    height: 40vh;
    gap: 50px 0;
  }
  footer .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 90%;
  }
  footer .footer h2,
footer .footer p {
    font-size: 18px;
  }
  footer .footBrand {
    gap: 1em;
  }
}
@media (max-width: 737px) and (orientation: landscape) {
  .fondo {
    height: 100vh;
  }
  .fondo .title h1 {
    font-size: 25px;
  }
  .fondo .title h2 {
    font-size: 19px;
  }
  .page {
    width: 100%;
    height: 90vh;
  }
  .page img {
    height: 90vh;
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .page .article {
    height: 90vh;
  }
  .page .article h2,
.page .article i {
    font-size: 17px;
    margin: 0;
  }
  .page .article i {
    padding: 15px;
  }
  .page .article p {
    line-height: 25px;
    width: 90%;
    font-size: 15px;
  }
  .page .article a {
    font-size: 10px;
    margin-top: 10px;
    padding: 10px 50px;
  }
  .fondo2 .title h2,
.fondo1 .title h2 {
    font-size: 25px;
  }
  .fondo2 .title h1,
.fondo1 .title h1 {
    font-size: 20px;
  }
  .fondo2 .title a,
.fondo1 .title a {
    font-size: 15px;
  }
  footer {
    height: 100vh;
    gap: 2em;
  }
  footer .footer h2,
footer .footer p {
    font-size: 15px;
  }
}
@media (max-width: 475px) {
  .fondo {
    width: 100%;
    height: 100vh;
  }
  .fondo h1 {
    font-size: 30px;
  }
  .fondo h2 {
    font-size: 20px;
  }
  .fondo a {
    font-size: 13px;
  }
  .page {
    display: flex;
    flex-direction: column;
    height: 130vh;
  }
  .page img {
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .page .article {
    height: 65vh;
    text-align: center;
    margin: auto;
  }
  .page .article h2 {
    font-size: 18px;
  }
  .page .article i {
    font-size: 19px;
  }
  .page .article p {
    line-height: 20px;
    font-size: 17px;
  }
  .page .article a {
    font-size: 12px;
    margin-top: 15px;
    padding: 10px 55px;
  }
  .fondo1 h2,
.fondo2 h2 {
    font-size: 20px;
  }
  .fondo1 h1,
.fondo2 h1 {
    width: 90%;
    text-align: center;
    font-size: 25px;
  }
  .fondo1 a,
.fondo2 a {
    font-size: 12px;
    padding: 10px 55px;
  }
  .slider {
    margin-top: 350px;
  }
  footer {
    height: 100vh;
  }
  footer .footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  footer .footer h2,
footer .footer p {
    margin: 10px 0;
  }
}/*# sourceMappingURL=style.css.map */