* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.icoP {
  width: 30px;
  height: 30px;
}

.icoM {
  width: 40px;
  height: 40px;
}

.check--hide {
  display: none;
}

.menu--hide {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgba(25, 129, 93, 0.335);
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.flex-eve {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav {
  transform: translateX(100px);
  width: 400px;
}
.nav ul li a {
  text-decoration: none;
  color: white;
}

.brand {
  transform: translateX(-100px);
  width: 170px;
  justify-self: end;
}

.nav ul li a:hover {
  color: #b93f3f;
}

.brand ul li img:hover {
  background-color: #b93f3f;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .menu--hide {
    display: block;
    margin-left: 50px;
  }
  .nav {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-1000px);
    background-color: black;
    width: 100vh;
    height: 100vh;
    transition: 0.5s;
  }
  .nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4em;
  }
  .brand {
    display: none;
  }
  .close {
    position: absolute;
    top: 50px;
    transform: translateX(-300px);
  }
  #check:checked ~ .nav {
    transform: translateX(-100px);
  }
}
@media (max-width: 736px) and (orientation: landscape) {
  .nav {
    width: 125%;
  }
  .nav ul {
    gap: 2em;
  }
  .nav .close {
    transform: translateX(-280px);
    top: 30px;
  }
}
@media (max-width: 475px) {
  .nav {
    width: 150%;
  }
  .nav ul {
    gap: 3em;
  }
  .nav .close {
    transform: translateX(-160px);
    top: 10px;
  }
}
main {
  width: 100%;
  height: 100vh;
}

section {
  height: 550px;
}

.fondo {
  width: 100%;
  height: 700px;
  margin: auto;
  background-image: url(../images/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.604);
  gap: 2em;
}
.title h1 {
  font-size: 50px;
  letter-spacing: 10px;
}
.title h2 {
  font-style: italic;
  font-size: 28px;
  letter-spacing: 5px;
}
.title a {
  text-decoration: none;
  color: white;
  padding: 10px 50px;
  background-color: #b93f3f;
  border-radius: 5%;
}
.title a:hover {
  background-color: #5ec339;
  transition: 0.2s;
}

.page {
  width: 100%;
  height: 500px;
  gap: 3em;
}
.page img {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}
.page .article {
  width: 95%;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding-top: 30%;
}

.fondo1 {
  width: 100%;
  height: 700px;
  margin: auto;
  background-image: url(../images/helado3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

@media (max-width: 768px) {
  .article h2 {
    margin-top: -50px;
  }
  .article i {
    padding: 30px 0;
  }
  .article p {
    width: 90%;
    letter-spacing: 1px;
    line-height: 30px;
  }
}
@media (max-width: 736px) and (orientation: landscape) {
  .fondo1 .title h1, .fondo1 .title h2, .fondo1 .title i {
    font-size: 35px;
    text-align: center;
  }
}
@media (max-width: 475px) {
  .fondo {
    width: 100%;
    height: 100vh;
  }
  section {
    height: 50vh;
  }
  .page {
    display: flex;
    flex-direction: column;
  }
  .page img {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
  }
  .page .article {
    text-align: center;
    margin: auto;
  }
  .page .article p {
    margin: auto;
    padding-bottom: 50px;
  }
  .fondo1 {
    margin-top: 450px;
  }
  .fondo1 .title h1, .fondo1 .title h2, .fondo1 .title i {
    font-size: 35px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */