.abrir{
    color: yellow;
}

ul{
    position: absolute;
    background: black;
    color: white;
    transition: all 0.3s;
    transform: translateY(-300%);
}

.hide{
    display: none;
}

#check:checked ~ ul{
    transform: translateX(0%);
    
}

#checkk:checked ~ ul{
    transition: 0.5s;
    transform: translateX(-300%);
    
}
body{
    background-color: rgb(157, 112, 112);
}